.sidebar
{
    background-color: black;
    width: 250px;
    height: 100vh;
    position: fixed;
}
.nav-link
{
    color: white;
    padding: 15px;
}
.nav-link:hover
{
    color: white;
    background-color: rgb(209, 207, 207);
}
.content
{
    margin-left: 250px;
    padding: 10px;
}

@media (max-width:700px)
{
    .sidebar
    {
        width: 50px;
    }
    .nav-link span 
    {
        display: none;
    }
    .content
    {
        margin-left: 50px;
    }
}