.navbar-toggler:focus
{
    box-shadow: none;
}
.carousel-item img
{
    height: 250px;
}

@media (min-width: 800px) 
{
    .carousel-item img
    {
        height: 500px;
    }
}
@media (min-width: 1000px)
{
    .myimg img
    {
        height: 70%;
        width: 70%;
    }
}